// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: rgb(44, 62, 80);
$brand-light: #1e82e5;
$color-links: #000;
$grey: #868686;
// $font-primary: 'Source Sans Pro', sans-serif;
$font-primary: 'PT Serif', Caslon, "Book Antiqua", "Palatino Linotype", Georgia, serif;
$font-headline: 'PT Serif', Caslon, "Book Antiqua", "Palatino Linotype", Georgia, serif;
$font-tertiary: 'Roboto Condensed', Arial;
$gradient: linear-gradient(60deg, #29323c 0%, #485563 100%);
$gradient2: linear-gradient( 135deg, #FEC163 0%, #e6791b 100%);
$gradient3: linear-gradient( 135deg, #c6c6c6 0%, #727272 100%);


// Other
$border: 1px solid rgba(0,0,0,0.1);
